name = "study-with-miku"
main = "workers/index.js"
compatibility_date = "2023-10-01"

assets = { directory = "./dist", binding = "ASSETS" }

[[durable_objects.bindings]]
name = "ONLINE_COUNTER"
class_name = "OnlineCounter"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["OnlineCounter"]
